<html lang="en">

<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>My Burger Menu</title>
</head>

<body>
    <img src="" width="400px" id="burger_pic">

    {{{ body }}}

    <footer class="Footer">
        <div class="footer-copyright">
            <div class="container">
                <span class="grey-text text-lighten-4"></span>
                <a class="grey-text text-lighten-4 right" href="https://github.com/Hifive6/burger">Reference Work</a>
            </div>
        </div>
    </footer>
</body>

</html>